<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
-->
<div class="connection-editor-container">

    <div class="container-fluid">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin"  ng-submit="connect(connection)">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" class="form-control" placeholder="HOST" required ng-model="connection.host"  autofocus>
                <input type="text" id="inputPassword" class="form-control" placeholder="PORT" ng-model="connection.port" required>
                <input type="text" id="inputPassword" class="form-control" placeholder="DATABASE" ng-model="connection.databaseName" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Connect</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->

</div>
