<div class="header" ng-controller="NavbarCtrl">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">wongo</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">              
          <li><a href="#/connection">Connection</a></li>
          <!-- <li class="active"><a href="#/"></a></li> -->

          <li class="dropdown" dropdown>
            <a dropdown-toggle ng-click="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Database
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="goToDatabaseCollections(connection)" ng-repeat="connection in databaseNames">{{connection.databaseName}}</a></li>
            </ul>
          </li>


          <li class="dropdown" dropdown>
            <a dropdown-toggle ng-click="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Collections <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="goToCollection(collection)" ng-repeat="collection in collections">{{collection}}</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">              
          <li><a ng-click="SchemaEditorView.toggle()" class="clickable">Schema Editor</a></li>
        </ul>
        
        <!-- <form class="navbar-form navbar-left pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Query" ui-codemirror>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->

      </div>
    </div>
  </div>
</div>