<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarCtrl" style="  background-color: #f5f5f5;" prevent-page-scrolling>
          <!-- <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
        </ul> -->
        <h4 ng-click="areCollectionsOpen=!areCollectionsOpen" ng-init="areCollectionsOpen=true" class="clickable">Collections</h4>
        <ul class="nav nav-sidebar" ng-hide="!areCollectionsOpen">
        	<li ng-repeat="collection in collections">
        		<a class="clickable" ng-click="goToCollection(collection)">{{collection}}</a>
        	</li>
        </ul>

        <h4 ng-click="areCollectionsOpen=!areCollectionsOpen" ng-init="areCollectionsOpen=true" class="clickable">
        	Queries
        </h4>
        <ul class="nav nav-sidebar" ng-hide="!areCollectionsOpen">
        	<li ng-repeat="collection in collections">
        		<a class="clickable" ng-click="goToCollection(collection)">{{collection}}</a>
        	</li>
        </ul>


    </div>

<!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphico<!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon<!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon<!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul> glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul><!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul> glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul>n<!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon<!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul> glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul><!-- <div class="sidebar-container" ng-controller="SidebarCtrl">
	<nav class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Collections<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul> glyphicon-home"></span></a></li>
					<li class="dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li ng-repeat="collection in collections">
								<a ng-click="goToCollection(collection)">{{collection}}</a>
							</li>
							<!-- 
							<li><a href="#">Reportar</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">Informes</a></li> --><!--
						</ul>
					</li>          
					<li ><a href="#">Libros<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
					<li ><a href="#">Tags<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
 -->