<!-- color palette: http://paletton.com/#uid=3210W0kllll0i0KaPb2vSvD+9YM -->
<style type="text/css">
* {
	box-sizing: border-box; 
}
html{
	height:100%;
	display: block;
	margin:0px;
}

body {
	margin: 0; 
	font-weight: 500;
	padding-top:0;
	font-family: "Antic Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #313A75;
	height: 100vh;
	color:#fff;


}
section:nth-of-type(2n) {
	/*background-color: ;*/
}

.content {
	display: table-cell;
	vertical-align: middle;
}

footer {
	padding: 1% 5%;
	text-align:center;
	background-color: #313A75;
	color: white;


}
footer a {
	color: #9AA637;
	font-weight: 500;
	text-decoration: none;
}

.button-secondary{
	background-color: #AA4D39;
  border-color: #AA4D39;
}
.button-secondary:hover{
	background-color: #FC2D01;
  border-color: #FC2D01;
}





</style>


<!-- <div class="container"> -->
<!-- 	<section style="background-color:green;">
		<h1>Welcome to Wongo!</h1>
		<p>This is the signin view.</p>
	</section>

	<section style="height:100vh; width:100%; background-color:green;">
		<h1>Welcome to Wongo!</h1>
		<p>This is the signin view.</p>
	</section>	 -->
	<!-- </div> -->

	<section class="intro">  
		<div class="content">
			<h1>Visualize, manage and share data</h1>
			<h3>on your MongoDB easy as never before!</h3>
			<p>&nbsp;</p>
			<p></p>
			<!-- <button >Login</button> -->

			<!-- <div class="container">

			</div>
			 --><form ng-submit="connect(connection)">
				<input type="text" class="form-control col-md-2" style="width:170px;" placeholder="Host" autofocus required ng-model="connection.host">
				<br>
				<br>
				<input type="text" class="form-control col-md-2" style="width:170px;" placeholder="Port" required ng-model="connection.port">
				<br>
				<br>
				<input type="text" class="form-control col-md-2" style="width:170px;" placeholder="Database name" required ng-model="connection.databaseName">
				<br>
				<br>

				<button class="btn btn-info" style="width:170px;" ng-click="" ng-controller="LoginCtrl">Connect</button>
				 or 
			
				<button class="btn btn-info button-secondary" ng-click="">Learn more</button>

			</form>
		</div>
	</section>

<!-- <section>  
  <div class="content">
    <h1>Resize your browser and see how they adapt.</h1>
 </div>
</section>

<section>  
  <div class="content">
    <h1>It's amazing and fast.</h1>
 </div>
</section>

<section>  
  <div class="content">
    <h1>See the <a href="http://caniuse.com/#feat=viewport-units">browser support.</a></h1>
 </div>
</section>  -->

<footer>
	Made by <a href="http://www.twitter.com/ckor">@bitliner - @wonderflow</a>
</footer>


