<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th ng-repeat="(fieldName,field) in schema" ng-if="field.isShown">{{fieldName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sample in data">
          <td>{{$index}}</td>
          <td ng-repeat="(fieldName,field) in schema" ng-if="field.isShown" ng-bind-html="field.read(sample,fieldName)"></td>
        </tr>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr> -->
      </tbody>
    </table>