<h4>&lt;query/&gt;</h4>
<!-- <button class="btn">&lt;query/&gt;</button> -->
<div 	ng-controller="QueryEditorCtrl">

	<div 
	ui-codemirror="{ onLoad : QueryEditorView.getOnLoadHandler() }" 
	rows="1" 
	ui-codemirror-opts="QueryEditorView.getOptions()" 
	ng-model="query" 
	ng-change="setNewQuery(query)" 
	></div>
	<button class="btn btn-info" ng-click="runCommand(query)">Run</button>
	<button class="btn btn-info" ng-click="QueryEditorView.openModalToSpecifyQueryName(query)">Save</button>

	<div>
		<p ng-hide="parserError && parserError.message">{{parserResult}}</p>
		<p ng-show="parserError && parserError.message">Syntax Error!</p>
	</div>

</div>


<!-- <div ui-codemirror="{ onLoad : QueryEditorView.onLoad }" ng-controller="OlaCtrl"></div>
 -->